order/src/main/java/com/advantage/online/store/accountservice/accountservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="com.advantage.online.store.accountservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="com.advantage.online.store.accountservice" targetNamespace="com.advantage.online.store.accountservice">
  <wsdl:types>
    <xs:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xs="http://www.w3.org/2001/XMLSchema" jaxb:version="2.1" targetNamespace="com.advantage.online.store.accountservice" version="1.0">

  <xs:element name="AccountCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="lastName" type="xs:string"/>
        <xs:element form="qualified" name="firstName" type="xs:string"/>
        <xs:element form="qualified" name="loginName" type="xs:string"/>
        <xs:element form="qualified" name="countryId" type="tns:CountryID"/>
        <xs:element form="qualified" name="stateProvince" nillable="true" type="xs:string"/>
        <xs:element form="qualified" name="cityName" nillable="true" type="xs:string"/>
        <xs:element form="qualified" name="address" nillable="true" type="xs:string"/>
        <xs:element form="qualified" name="zipcode" nillable="true" type="xs:string"/>
        <xs:element form="qualified" name="phoneNumber" nillable="true" type="xs:string"/>
        <xs:element form="qualified" name="email" type="xs:string"/>
        <xs:element form="qualified" name="password" type="xs:string"/>
        <xs:element form="qualified" name="accountType" type="tns:AccountType"/>
        <xs:element form="qualified" name="allowOffersPromotion" nillable="true" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>





  <xs:element name="AccountCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="userId" type="xs:long"/>
              <xs:element form="qualified" name="reason" type="xs:string"/>
              <xs:element form="qualified" name="token" type="xs:string"/>
              <xs:element form="qualified" name="sessionId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountPermanentDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="userId" type="xs:long"/>
              <xs:element form="qualified" name="reason" type="xs:string"/>
              <xs:element form="qualified" name="token" type="xs:string"/>
              <xs:element form="qualified" name="sessionId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountPermanentDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="OrderHeaderDelete" type="xs:boolean"/>
              <xs:element form="qualified" name="OrderLinesDelete" type="xs:boolean"/>
              <xs:element form="qualified" name="ShippingAddressDelete" type="xs:boolean"/>
              <xs:element form="qualified" name="PaymentPreferenceDelete" type="xs:boolean"/>
              <xs:element form="qualified" name="AccountDelete" type="xs:boolean"/>
              <xs:element form="qualified" name="IsSuccess" type="xs:boolean"/>
              <xs:element form="qualified" name="Reason" type="xs:string"/>
           </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountDto" nillable="true" type="xs:anyType"/>

  <xs:element name="AccountLoginRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="loginUser" type="xs:string"/>
        <xs:element form="qualified" name="email" type="xs:string"/>
        <xs:element form="qualified" name="loginPassword" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="userId" type="xs:long"/>
              <xs:element form="qualified" name="reason" type="xs:string"/>
              <xs:element form="qualified" name="token" type="xs:string"/>
              <xs:element form="qualified" name="sessionId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountLogoutRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="loginUser" type="xs:string"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountLogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="userId" type="xs:long"/>
              <xs:element form="qualified" name="reason" type="xs:string"/>
              <xs:element form="qualified" name="token" type="xs:string"/>
              <xs:element form="qualified" name="sessionId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="success" type="tns:responseReason"/>
        <xs:element form="qualified" name="userId" type="xs:long"/>
        <xs:element form="qualified" name="reason" type="xs:string"/>
        <xs:element form="qualified" name="token" type="xs:string"/>
        <xs:element form="qualified" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long"/>
        <xs:element form="qualified" name="lastName" type="xs:string"/>
        <xs:element form="qualified" name="firstName" type="xs:string"/>
        <xs:element form="qualified" name="countryId" type="tns:CountryID"/>
        <xs:element form="qualified" name="stateProvince" nillable="true" type="xs:string"/>
        <xs:element form="qualified" name="cityName" nillable="true" type="xs:string"/>
        <xs:element form="qualified" name="address" nillable="true" type="xs:string"/>
        <xs:element form="qualified" name="zipcode" nillable="true" type="xs:string"/>
        <xs:element form="qualified" name="phoneNumber" nillable="true" type="xs:string"/>
        <xs:element form="qualified" name="email" type="xs:string"/>
        <xs:element form="qualified" name="accountType" type="tns:AccountType"/>
        <xs:element form="qualified" name="allowOffersPromotion" nillable="true" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AccountUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="userId" type="xs:long"/>
              <xs:element form="qualified" name="reason" type="xs:string"/>
              <xs:element form="qualified" name="token" type="xs:string"/>
              <xs:element form="qualified" name="sessionId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddAddressesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" maxOccurs="unbounded" name="address">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="addressLine1" type="xs:string"/>
              <xs:element form="qualified" name="addressLine2" type="xs:string"/>
              <xs:element form="qualified" name="city" type="xs:string"/>
              <xs:element form="qualified" name="country" type="xs:string"/>
              <xs:element form="qualified" name="state" type="xs:string"/>
              <xs:element form="qualified" name="postalCode" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="accountId" type="xs:long"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddMasterCreditMethodRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="cardNumber" type="xs:string"/>
        <xs:element form="qualified" name="expirationDate" type="xs:string"/>
        <xs:element form="qualified" name="cvvNumber" type="xs:string"/>
        <xs:element form="qualified" name="customerName" type="xs:string"/>
        <xs:element form="qualified" name="accountId" type="xs:long"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddSafePayMethodRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long"/>
        <xs:element form="qualified" name="safePayUsername" type="xs:string"/>
        <xs:element form="qualified" name="safePayPassword" type="xs:string"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddSafePayMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="id" type="xs:long"/>
              <xs:element form="qualified" name="reason" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
      <xs:element name="AddMasterCreditMethodResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="qualified" name="StatusMessage">
              <xs:complexType>
                <xs:sequence>
                  <xs:element form="qualified" name="success" type="tns:responseReason"/>
                  <xs:element form="qualified" name="id" type="xs:long"/>
                  <xs:element form="qualified" name="reason" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
  <xs:element name="Address" nillable="true" type="xs:anyType"/>

  <xs:element name="AddressStatusResponse" nillable="true" type="xs:anyType"/>

  <xs:element name="AddressUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="address">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="id" nillable="true" type="xs:long"/>
              <xs:element form="qualified" name="addressLine1" type="xs:string"/>
              <xs:element form="qualified" name="addressLine2" type="xs:string"/>
              <xs:element form="qualified" name="city" type="xs:string"/>
              <xs:element form="qualified" name="country" type="xs:string"/>
              <xs:element form="qualified" name="state" type="xs:string"/>
              <xs:element form="qualified" name="postalCode" type="xs:string"/>
              <xs:element form="qualified" name="accountId" type="xs:long"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddressUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="reason" type="xs:boolean"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ChangePasswordRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long"/>
        <xs:element form="qualified" name="oldPassword" type="xs:string"/>
        <xs:element form="qualified" name="newPassword" type="xs:string"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="userId" type="xs:long"/>
              <xs:element form="qualified" name="reason" type="xs:string"/>
              <xs:element form="qualified" name="token" type="xs:string"/>
              <xs:element form="qualified" name="sessionId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Country">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="id" type="xs:long"/>
        <xs:element form="qualified" name="name" type="xs:string"/>
        <xs:element form="qualified" name="isoName" type="xs:string"/>
        <xs:element form="qualified" name="phonePrefix" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CountryCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="name" type="xs:string"/>
        <xs:element form="qualified" name="isoName" type="xs:string"/>
        <xs:element form="qualified" name="phonePrefix" type="xs:int"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CountrySearchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="internationalPhonePrefix" type="xs:int"/>
        <xs:element form="qualified" name="startOfName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CountrySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tns:Country"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeletePaymentPreferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="userId" type="xs:long"/>
              <xs:element form="qualified" name="reason" type="xs:string"/>
              <xs:element form="qualified" name="token" type="xs:string"/>
              <xs:element form="qualified" name="sessionId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountByIdNewRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountByIdNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="AccountResponse">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="id" type="xs:long"/>
              <xs:element form="qualified" name="lastName" type="xs:string"/>
              <xs:element form="qualified" name="firstName" type="xs:string"/>
              <xs:element form="qualified" name="loginName" type="xs:string"/>
              <xs:element form="qualified" name="accountType" type="tns:AccountType"/>
              <xs:element form="qualified" name="countryId" type="xs:long"/>
              <xs:element form="qualified" name="countryName" type="xs:string"/>
              <xs:element form="qualified" name="countryIsoName" type="xs:string"/>
              <xs:element form="qualified" name="stateProvince" type="xs:string"/>
              <xs:element form="qualified" name="cityName" type="xs:string"/>
              <xs:element form="qualified" name="homeAddress" type="xs:string"/>
              <xs:element form="qualified" name="zipcode" type="xs:string"/>
              <xs:element form="qualified" name="mobilePhone" type="xs:string"/>
              <xs:element form="qualified" name="email" type="xs:string"/>
              <xs:element form="qualified" name="defaultPaymentMethodId" type="xs:long"/>
              <xs:element form="qualified" name="allowOffersPromotion" type="xs:boolean"/>
              <xs:element form="qualified" name="internalUnsuccessfulLoginAttempts" type="xs:int"/>
              <xs:element form="qualified" name="internalUserBlockedFromLoginUntil" type="xs:long"/>
              <xs:element form="qualified" name="internalLastSuccesssulLogin" type="xs:long"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountByIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="AccountResponse">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="id" type="xs:long"/>
              <xs:element form="qualified" name="lastName" type="xs:string"/>
              <xs:element form="qualified" name="firstName" type="xs:string"/>
              <xs:element form="qualified" name="loginName" type="xs:string"/>
              <xs:element form="qualified" name="accountType" type="xs:int"/>
              <xs:element form="qualified" name="countryId" type="xs:long"/>
              <xs:element form="qualified" name="countryName" type="xs:string"/>
              <xs:element form="qualified" name="countryIsoName" type="xs:string"/>
              <xs:element form="qualified" name="stateProvince" type="xs:string"/>
              <xs:element form="qualified" name="cityName" type="xs:string"/>
              <xs:element form="qualified" name="address" type="xs:string"/>
              <xs:element form="qualified" name="zipcode" type="xs:string"/>
              <xs:element form="qualified" name="phoneNumber" type="xs:string"/>
              <xs:element form="qualified" name="email" type="xs:string"/>
              <xs:element form="qualified" name="defaultPaymentMethodId" type="xs:long"/>
              <xs:element form="qualified" name="allowOffersPromotion" type="xs:boolean"/>
              <xs:element form="qualified" name="internalUnsuccessfulLoginAttempts" type="xs:int"/>
              <xs:element form="qualified" name="internalUserBlockedFromLoginUntil" type="xs:long"/>
              <xs:element form="qualified" name="internalLastSuccesssulLogin" type="xs:long"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="numberOfFailedLoginAttemptsBeforeBlocking" type="xs:int"/>
        <xs:element form="qualified" name="loginBlockingIntervalInSeconds" type="xs:long"/>
        <xs:element form="qualified" name="productInStockDefaultValue" type="xs:int"/>
        <xs:element form="qualified" name="userSecondWsdl" type="xs:boolean"/>
        <xs:element form="qualified" name="userLoginTimeout" type="xs:int"/>
        <xs:element form="qualified" name="allowUserConfiguration" type="xs:boolean"/>
        <xs:element form="qualified" name="productionHostIp" type="xs:string"/>
        <xs:element form="qualified" name="productionHostName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountPaymentPreferencesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAddressesByAccountIdRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:int"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAddressesByAccountIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" maxOccurs="unbounded" name="ShippingAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="id" nillable="true" type="xs:long"/>
              <xs:element form="qualified" name="addressLine1" type="xs:string"/>
              <xs:element form="qualified" name="addressLine2" type="xs:string"/>
              <xs:element form="qualified" name="city" type="xs:string"/>
              <xs:element form="qualified" name="country" type="xs:string"/>
              <xs:element form="qualified" name="state" type="xs:string"/>
              <xs:element form="qualified" name="postalCode" type="xs:string"/>
              <xs:element form="qualified" name="accountId" type="xs:long"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAllAccountsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAllAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" maxOccurs="unbounded" name="account">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="id" type="xs:long"/>
              <xs:element form="qualified" name="lastName" type="xs:string"/>
              <xs:element form="qualified" name="firstName" type="xs:string"/>
              <xs:element form="qualified" name="loginName" type="xs:string"/>
              <xs:element form="qualified" name="accountType" type="xs:int"/>
              <xs:element form="qualified" name="countryId" type="xs:long"/>
              <xs:element form="qualified" name="countryName" type="xs:string"/>
              <xs:element form="qualified" name="countryIsoName" type="xs:string"/>
              <xs:element form="qualified" name="stateProvince" type="xs:string"/>
              <xs:element form="qualified" name="cityName" type="xs:string"/>
              <xs:element form="qualified" name="address" type="xs:string"/>
              <xs:element form="qualified" name="zipcode" type="xs:string"/>
              <xs:element form="qualified" name="phoneNumber" type="xs:string"/>
              <xs:element form="qualified" name="email" type="xs:string"/>
              <xs:element form="qualified" name="defaultPaymentMethodId" type="xs:long"/>
              <xs:element form="qualified" name="allowOffersPromotion" type="xs:boolean"/>
              <xs:element form="qualified" name="internalUnsuccessfulLoginAttempts" type="xs:int"/>
              <xs:element form="qualified" name="internalUserBlockedFromLoginUntil" type="xs:long"/>
              <xs:element form="qualified" name="internalLastSuccesssulLogin" type="xs:long"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tns:Country"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PaymentMethodUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="accountId" type="xs:long"/>
        <xs:element form="qualified" name="paymentMethod" type="xs:int"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PaymentMethodUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="userId" type="xs:long"/>
              <xs:element form="qualified" name="reason" type="xs:string"/>
              <xs:element form="qualified" name="token" type="xs:string"/>
              <xs:element form="qualified" name="sessionId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PaymentPreferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" maxOccurs="unbounded" name="preference">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="paymentMethod" type="xs:int"/>
              <xs:element form="qualified" name="cardNumber" type="xs:string"/>
              <xs:element form="qualified" name="expirationDate" type="xs:string"/>
              <xs:element form="qualified" name="cvvNumber" type="xs:string"/>
              <xs:element form="qualified" name="safePayUsername" type="xs:string"/>
              <xs:element form="qualified" name="safePayPassword" type="xs:string"/>
              <xs:element form="qualified" name="customerName" type="xs:string"/>
              <xs:element form="qualified" name="preferenceId" type="xs:long"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PaymentPreferencesDto">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="paymentMethod" type="xs:int"/>
        <xs:element form="qualified" name="cardNumber" type="xs:string"/>
        <xs:element form="qualified" name="expirationDate" type="xs:string"/>
        <xs:element form="qualified" name="cvvNumber" type="xs:string"/>
        <xs:element form="qualified" name="safePayUsername" type="xs:string"/>
        <xs:element form="qualified" name="safePayPassword" type="xs:string"/>
        <xs:element form="qualified" name="customerName" type="xs:string"/>
        <xs:element form="qualified" name="preferenceId" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PaymentPreferencesStatusResponse" nillable="true" type="xs:anyType"/>

  <xs:element name="UpdateMasterCreditMethodRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="userId" type="xs:long"/>
        <xs:element form="qualified" name="cardNumber" type="xs:string"/>
        <xs:element form="qualified" name="expirationDate" type="xs:string"/>
        <xs:element form="qualified" name="cvvNumber" type="xs:string"/>
        <xs:element form="qualified" name="customerName" type="xs:string"/>
        <xs:element form="qualified" name="referenceId" type="xs:long"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateMasterCreditMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="id" type="xs:long"/>
              <xs:element form="qualified" name="reason" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateSafePayMethodRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="userId" type="xs:long"/>
        <xs:element form="qualified" name="safePayUsername" type="xs:string"/>
        <xs:element form="qualified" name="safePayPassword" type="xs:string"/>
        <xs:element form="qualified" name="referenceId" type="xs:long"/>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateSafePayMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="StatusMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="id" type="xs:long"/>
              <xs:element form="qualified" name="reason" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RestoreDBToFactorySettingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="base64Token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RestoreDBToFactorySettingResponse">
          <xs:complexType>
            <xs:sequence>
              <xs:element form="qualified" name="httpStatus" type="xs:string"/>
              <xs:element form="qualified" name="success" type="tns:responseReason"/>
              <xs:element form="qualified" name="reason" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountFieldsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="field" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountFieldsResponse">
    <xs:complexType>
      <xs:sequence>
          <xs:element form="qualified" name="id" type="xs:long"/>
          <xs:element form="qualified" name="lastName" type="xs:string"/>
          <xs:element form="qualified" name="firstName" type="xs:string"/>
          <xs:element form="qualified" name="loginName" type="xs:string"/>
          <xs:element form="qualified" name="accountType" type="xs:int"/>
          <xs:element form="qualified" name="countryId" type="xs:long"/>
          <xs:element form="qualified" name="countryName" type="xs:string"/>
          <xs:element form="qualified" name="countryIsoName" type="xs:string"/>
          <xs:element form="qualified" name="stateProvince" type="xs:string"/>
          <xs:element form="qualified" name="cityName" type="xs:string"/>
          <xs:element form="qualified" name="address" type="xs:string"/>
          <xs:element form="qualified" name="zipcode" type="xs:string"/>
          <xs:element form="qualified" name="phoneNumber" type="xs:string"/>
          <xs:element form="qualified" name="email" type="xs:string"/>
          <xs:element form="qualified" name="defaultPaymentMethodId" type="xs:long"/>
          <xs:element form="qualified" name="allowOffersPromotion" type="xs:boolean"/>
          <xs:element form="qualified" name="internalUnsuccessfulLoginAttempts" type="xs:int"/>
          <xs:element form="qualified" name="internalUserBlockedFromLoginUntil" type="xs:long"/>
          <xs:element form="qualified" name="internalLastSuccesssulLogin" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CountryStatusResponse">
    <xs:sequence>
      <xs:element form="qualified" name="success" type="tns:responseReason"/>
      <xs:element form="qualified" name="countryId" type="xs:long"/>
      <xs:element form="qualified" name="reason" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!--<xs:complexType name="countryName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USA" />
      <xs:enumeration value="ISR" />
      <xs:enumeration value="UK" />
    </xs:restriction>
  </xs:complexType>-->
    <xs:simpleType name="AccountType">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:typesafeEnumClass>
                    <jaxb:typesafeEnumMember name="USER" value="10"/>
                    <jaxb:typesafeEnumMember name="ADMIN" value="20"/>
                    <jaxb:typesafeEnumMember name="GUEST" value="30"/>
                </jaxb:typesafeEnumClass>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="USER"/>
            <xs:enumeration value="ADMIN"/>
            <xs:enumeration value="GUEST"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="CountryID">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Australia,au"/>
            <xs:enumeration value="Austria,at"/>
            <xs:enumeration value="Brazil,br"/>
            <xs:enumeration value="Canada,ca"/>
            <xs:enumeration value="China,cn"/>
            <xs:enumeration value="Croatia,hr"/>
            <xs:enumeration value="Denmark,dk"/>
            <xs:enumeration value="Egypt,eg"/>
            <xs:enumeration value="England,uk"/>
            <xs:enumeration value="France,fr"/>
            <xs:enumeration value="Germany,de"/>
            <xs:enumeration value="Greece,gr"/>
            <xs:enumeration value="India,in"/>
            <xs:enumeration value="Israel,il"/>
            <xs:enumeration value="Italy,it"/>
            <xs:enumeration value="Japan,jp"/>
            <xs:enumeration value="Mexico,mx"/>
            <xs:enumeration value="Netherland,nl"/>
            <xs:enumeration value="Norway,no"/>
            <xs:enumeration value="New Zealand,nz"/>
            <xs:enumeration value="Spain,es"/>
            <xs:enumeration value="South Korea,kr"/>
            <xs:enumeration value="North Korea,kp"/>
            <xs:enumeration value="Portugal,pt"/>
            <xs:enumeration value="Qatar,qa"/>
            <xs:enumeration value="Romania,ro"/>
            <xs:enumeration value="Russia,ru"/>
            <xs:enumeration value="South Africa,za"/>
            <xs:enumeration value="Sweden,se"/>
            <xs:enumeration value="Switzerland,ch"/>
            <xs:enumeration value="Thailand,th"/>
            <xs:enumeration value="Tunisia,tn"/>
            <xs:enumeration value="Turkey,tr"/>
            <xs:enumeration value="Ukraine,ua"/>
            <xs:enumeration value="United Kingdom,uk"/>
            <xs:enumeration value="United States,us"/>
            <xs:enumeration value="Yemen,ye"/>
        </xs:restriction>
    </xs:simpleType>


  <xs:simpleType name="responseReason">
    <xs:restriction base="xs:boolean">
    </xs:restriction>
  </xs:simpleType>

  <!--<xs:simpleType name="ValuesType">-->
    <!--<xs:restriction base="xs:string">-->
      <!--<xs:enumeration value="00001" />-->
      <!--<xs:enumeration value="00002" />-->
      <!--<xs:enumeration value="00003" />-->
    <!--</xs:restriction>-->
  <!--</xs:simpleType>-->

  <!--<xs:complexType name="OptionType">-->
    <!--<xs:sequence>-->
      <!--<xs:element name="key" type="ValuesType" />-->
      <!--<xs:element name="label" type="xs:string" />-->
    <!--</xs:sequence>-->
  <!--</xs:complexType>-->

<!--  <xs:simpleType name="CountryIdEnum1">-->
<!--    <xs:restriction base="xs:string">-->
<!--      <xs:enumeration value="US">-->
<!--        <xs:annotation>-->
<!--          <xs:appinfo>-->
<!--            <xs:EnumerationValue>1</xs:EnumerationValue>-->
<!--          </xs:appinfo>-->
<!--        </xs:annotation>-->
<!--      </xs:enumeration>-->
<!--      <xs:enumeration value="IL">-->
<!--        <xs:annotation>-->
<!--          <xs:appinfo>-->
<!--            <xs:EnumerationValue>2</xs:EnumerationValue>-->
<!--          </xs:appinfo>-->
<!--        </xs:annotation>-->
<!--      </xs:enumeration>-->
<!--      <xs:enumeration value="DE">-->
<!--        <xs:annotation>-->
<!--          <xs:appinfo>-->
<!--            <xs:EnumerationValue>3</xs:EnumerationValue>-->
<!--          </xs:appinfo>-->
<!--        </xs:annotation>-->
<!--      </xs:enumeration>-->
<!--    </xs:restriction>-->
<!--  </xs:simpleType>-->

<!--  <xs:element name="GetBankChequeRequest">-->
<!--    <xs:complexType>-->
<!--      <xs:sequence>-->
<!--        <xs:element name="cheque-no" type="xs:string"/>-->
<!--        <xs:element name="issue-date" type="xs:date"/>-->
<!--        <xs:element name="cheque-issued-for" type="xs:string"/>-->
<!--        <xs:element name="account-no">-->
<!--          <xs:complexType>-->
<!--            <xs:simpleContent>-->
<!--              <xs:extension base="tns:Request">-->
<!--                <xs:attribute name="RequestType" use="required">-->
<!--                  <xs:simpleType>-->
<!--                    <xs:restriction base="xs:string">-->
<!--                      <xs:enumeration value="saving"/>-->
<!--                      <xs:enumeration value="current"/>-->
<!--                      <xs:enumeration value="corporate"/>-->
<!--                    </xs:restriction>-->
<!--                  </xs:simpleType>-->
<!--                </xs:attribute>-->
<!--              </xs:extension>-->
<!--            </xs:simpleContent>-->
<!--          </xs:complexType>-->
<!--        </xs:element>-->
<!--      </xs:sequence>-->
<!--    </xs:complexType>-->
<!--  </xs:element>-->

<!--  <xs:simpleType name="BranchType">-->
<!--    <xs:restriction base="xs:string">-->
<!--      <xs:enumeration value="sanjauli"/>-->
<!--      <xs:enumeration value="summer hill"/>-->
<!--      <xs:enumeration value="dhalli"/>-->
<!--    </xs:restriction>-->
<!--  </xs:simpleType>-->



<!--  <xs:element name="RequestType" type="tns:Request"/>-->

<!--  <xs:simpleType name="Request">-->
<!--  <xs:annotation>-->
<!--    <xs:appinfo>-->
<!--      <jaxb:typesafeEnumClass>-->
<!--        <jaxb:typesafeEnumMember value="1" name="US" />-->
<!--        <jaxb:typesafeEnumMember value="2" name="IL" />-->
<!--        <jaxb:typesafeEnumMember value="3" name="DE" />-->
<!--      </jaxb:typesafeEnumClass>-->
<!--    </xs:appinfo>-->
<!--  </xs:annotation>-->
<!--  <xs:restriction base="xs:string">-->
<!--    <xs:enumeration value="US" />-->
<!--    <xs:enumeration value="IL" />-->
<!--    <xs:enumeration value="DE" />-->
<!--  </xs:restriction>-->
<!--  </xs:simpleType>-->

</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountByIdRequest">
    <wsdl:part element="tns:GetAccountByIdRequest" name="GetAccountByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountByIdResponse">
    <wsdl:part element="tns:GetAccountByIdResponse" name="GetAccountByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountPaymentPreferencesRequest">
    <wsdl:part element="tns:GetAccountPaymentPreferencesRequest" name="GetAccountPaymentPreferencesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountDeleteResponse">
    <wsdl:part element="tns:AccountDeleteResponse" name="AccountDeleteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddressUpdateResponse">
    <wsdl:part element="tns:AddressUpdateResponse" name="AddressUpdateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAccountsRequest">
    <wsdl:part element="tns:GetAllAccountsRequest" name="GetAllAccountsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RestoreDBToFactorySettingResponse">
    <wsdl:part element="tns:RestoreDBToFactorySettingResponse" name="RestoreDBToFactorySettingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddMasterCreditMethodResponse">
    <wsdl:part element="tns:AddMasterCreditMethodResponse" name="AddMasterCreditMethodResponse"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAddressesByAccountIdResponse">
    <wsdl:part element="tns:GetAddressesByAccountIdResponse" name="GetAddressesByAccountIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddSafePayMethodRequest">
    <wsdl:part element="tns:AddSafePayMethodRequest" name="AddSafePayMethodRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddressUpdateRequest">
    <wsdl:part element="tns:AddressUpdateRequest" name="AddressUpdateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateSafePayMethodResponse">
    <wsdl:part element="tns:UpdateSafePayMethodResponse" name="UpdateSafePayMethodResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountFieldsRequest">
    <wsdl:part element="tns:GetAccountFieldsRequest" name="GetAccountFieldsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddSafePayMethodResponse">
    <wsdl:part element="tns:AddSafePayMethodResponse" name="AddSafePayMethodResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CountrySearchRequest">
    <wsdl:part element="tns:CountrySearchRequest" name="CountrySearchRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountConfigurationResponse">
    <wsdl:part element="tns:GetAccountConfigurationResponse" name="GetAccountConfigurationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RestoreDBToFactorySettingRequest">
    <wsdl:part element="tns:RestoreDBToFactorySettingRequest" name="RestoreDBToFactorySettingRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddressStatusResponse">
    <wsdl:part element="tns:AddressStatusResponse" name="AddressStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CountryCreateRequest">
    <wsdl:part element="tns:CountryCreateRequest" name="CountryCreateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateMasterCreditMethodRequest">
    <wsdl:part element="tns:UpdateMasterCreditMethodRequest" name="UpdateMasterCreditMethodRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountCreateResponse">
    <wsdl:part element="tns:AccountCreateResponse" name="AccountCreateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountLogoutRequest">
    <wsdl:part element="tns:AccountLogoutRequest" name="AccountLogoutRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddMasterCreditMethodRequest">
    <wsdl:part element="tns:AddMasterCreditMethodRequest" name="AddMasterCreditMethodRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountFieldsResponse">
    <wsdl:part element="tns:GetAccountFieldsResponse" name="GetAccountFieldsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountPermanentDeleteResponse">
    <wsdl:part element="tns:AccountPermanentDeleteResponse" name="AccountPermanentDeleteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangePasswordRequest">
    <wsdl:part element="tns:ChangePasswordRequest" name="ChangePasswordRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountLoginRequest">
    <wsdl:part element="tns:AccountLoginRequest" name="AccountLoginRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountriesResponse">
    <wsdl:part element="tns:GetCountriesResponse" name="GetCountriesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateMasterCreditMethodResponse">
    <wsdl:part element="tns:UpdateMasterCreditMethodResponse" name="UpdateMasterCreditMethodResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAccountsResponse">
    <wsdl:part element="tns:GetAllAccountsResponse" name="GetAllAccountsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountCreateRequest">
    <wsdl:part element="tns:AccountCreateRequest" name="AccountCreateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CountrySearchResponse">
    <wsdl:part element="tns:CountrySearchResponse" name="CountrySearchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeletePaymentPreferenceResponse">
    <wsdl:part element="tns:DeletePaymentPreferenceResponse" name="DeletePaymentPreferenceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountByIdNewResponse">
    <wsdl:part element="tns:GetAccountByIdNewResponse" name="GetAccountByIdNewResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountUpdateRequest">
    <wsdl:part element="tns:AccountUpdateRequest" name="AccountUpdateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangePasswordResponse">
    <wsdl:part element="tns:ChangePasswordResponse" name="ChangePasswordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountLoginResponse">
    <wsdl:part element="tns:AccountLoginResponse" name="AccountLoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddAddressesRequest">
    <wsdl:part element="tns:AddAddressesRequest" name="AddAddressesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountPermanentDeleteRequest">
    <wsdl:part element="tns:AccountPermanentDeleteRequest" name="AccountPermanentDeleteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountUpdateResponse">
    <wsdl:part element="tns:AccountUpdateResponse" name="AccountUpdateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountDeleteRequest">
    <wsdl:part element="tns:AccountDeleteRequest" name="AccountDeleteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountStatusResponse">
    <wsdl:part element="tns:AccountStatusResponse" name="AccountStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountLogoutResponse">
    <wsdl:part element="tns:AccountLogoutResponse" name="AccountLogoutResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PaymentMethodUpdateResponse">
    <wsdl:part element="tns:PaymentMethodUpdateResponse" name="PaymentMethodUpdateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateSafePayMethodRequest">
    <wsdl:part element="tns:UpdateSafePayMethodRequest" name="UpdateSafePayMethodRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAddressesByAccountIdRequest">
    <wsdl:part element="tns:GetAddressesByAccountIdRequest" name="GetAddressesByAccountIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountByIdNewRequest">
    <wsdl:part element="tns:GetAccountByIdNewRequest" name="GetAccountByIdNewRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PaymentMethodUpdateRequest">
    <wsdl:part element="tns:PaymentMethodUpdateRequest" name="PaymentMethodUpdateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PaymentPreferencesStatusResponse">
    <wsdl:part element="tns:PaymentPreferencesStatusResponse" name="PaymentPreferencesStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountServicePort">
    <wsdl:operation name="GetAccountById">
      <wsdl:input message="tns:GetAccountByIdRequest" name="GetAccountByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAccountByIdResponse" name="GetAccountByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountPaymentPreferences">
      <wsdl:input message="tns:GetAccountPaymentPreferencesRequest" name="GetAccountPaymentPreferencesRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AccountDelete">
      <wsdl:input message="tns:AccountDeleteRequest" name="AccountDeleteRequest">
    </wsdl:input>
      <wsdl:output message="tns:AccountDeleteResponse" name="AccountDeleteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressUpdate">
      <wsdl:input message="tns:AddressUpdateRequest" name="AddressUpdateRequest">
    </wsdl:input>
      <wsdl:output message="tns:AddressUpdateResponse" name="AddressUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <wsdl:input message="tns:GetAllAccountsRequest" name="GetAllAccountsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllAccountsResponse" name="GetAllAccountsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreDBToFactorySetting">
      <wsdl:input message="tns:RestoreDBToFactorySettingRequest" name="RestoreDBToFactorySettingRequest">
    </wsdl:input>
      <wsdl:output message="tns:RestoreDBToFactorySettingResponse" name="RestoreDBToFactorySettingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressesByAccountId">
      <wsdl:input message="tns:GetAddressesByAccountIdRequest" name="GetAddressesByAccountIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAddressesByAccountIdResponse" name="GetAddressesByAccountIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSafePayMethod">
      <wsdl:input message="tns:AddSafePayMethodRequest" name="AddSafePayMethodRequest">
    </wsdl:input>
      <wsdl:output message="tns:AddSafePayMethodResponse" name="AddSafePayMethodResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSafePayMethod">
      <wsdl:input message="tns:UpdateSafePayMethodRequest" name="UpdateSafePayMethodRequest">
    </wsdl:input>
      <wsdl:output message="tns:UpdateSafePayMethodResponse" name="UpdateSafePayMethodResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountFields">
      <wsdl:input message="tns:GetAccountFieldsRequest" name="GetAccountFieldsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAccountFieldsResponse" name="GetAccountFieldsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountrySearch">
      <wsdl:input message="tns:CountrySearchRequest" name="CountrySearchRequest">
    </wsdl:input>
      <wsdl:output message="tns:CountrySearchResponse" name="CountrySearchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountConfiguration">
      <wsdl:output message="tns:GetAccountConfigurationResponse" name="GetAccountConfigurationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressStatus">
      <wsdl:output message="tns:AddressStatusResponse" name="AddressStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountryCreate">
      <wsdl:input message="tns:CountryCreateRequest" name="CountryCreateRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateMasterCreditMethod">
      <wsdl:input message="tns:UpdateMasterCreditMethodRequest" name="UpdateMasterCreditMethodRequest">
    </wsdl:input>
      <wsdl:output message="tns:UpdateMasterCreditMethodResponse" name="UpdateMasterCreditMethodResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountCreate">
      <wsdl:input message="tns:AccountCreateRequest" name="AccountCreateRequest">
    </wsdl:input>
      <wsdl:output message="tns:AccountCreateResponse" name="AccountCreateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountLogout">
      <wsdl:input message="tns:AccountLogoutRequest" name="AccountLogoutRequest">
    </wsdl:input>
      <wsdl:output message="tns:AccountLogoutResponse" name="AccountLogoutResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMasterCreditMethod">
      <wsdl:input message="tns:AddMasterCreditMethodRequest" name="AddMasterCreditMethodRequest"></wsdl:input>
      <wsdl:output message="tns:AddMasterCreditMethodResponse" name="AddMasterCreditMethodResponse"> </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountPermanentDelete">
      <wsdl:input message="tns:AccountPermanentDeleteRequest" name="AccountPermanentDeleteRequest">
    </wsdl:input>
      <wsdl:output message="tns:AccountPermanentDeleteResponse" name="AccountPermanentDeleteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordRequest" name="ChangePasswordRequest">
    </wsdl:input>
      <wsdl:output message="tns:ChangePasswordResponse" name="ChangePasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountLogin">
      <wsdl:input message="tns:AccountLoginRequest" name="AccountLoginRequest">
    </wsdl:input>
      <wsdl:output message="tns:AccountLoginResponse" name="AccountLoginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:output message="tns:GetCountriesResponse" name="GetCountriesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaymentPreference">
      <wsdl:output message="tns:DeletePaymentPreferenceResponse" name="DeletePaymentPreferenceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByIdNew">
      <wsdl:input message="tns:GetAccountByIdNewRequest" name="GetAccountByIdNewRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAccountByIdNewResponse" name="GetAccountByIdNewResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountUpdate">
      <wsdl:input message="tns:AccountUpdateRequest" name="AccountUpdateRequest">
    </wsdl:input>
      <wsdl:output message="tns:AccountUpdateResponse" name="AccountUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAddresses">
      <wsdl:input message="tns:AddAddressesRequest" name="AddAddressesRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AccountStatus">
      <wsdl:output message="tns:AccountStatusResponse" name="AccountStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentMethodUpdate">
      <wsdl:input message="tns:PaymentMethodUpdateRequest" name="PaymentMethodUpdateRequest">
    </wsdl:input>
      <wsdl:output message="tns:PaymentMethodUpdateResponse" name="PaymentMethodUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentPreferencesStatus">
      <wsdl:output message="tns:PaymentPreferencesStatusResponse" name="PaymentPreferencesStatusResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServicePortSoap11" type="tns:AccountServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAccountById">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAccountByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAccountByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountPaymentPreferences">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAccountPaymentPreferencesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AccountDelete">
      <soap:operation soapAction=""/>
      <wsdl:input name="AccountDeleteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountDeleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressUpdate">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddressUpdateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddressUpdateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllAccountsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllAccountsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreDBToFactorySetting">
      <soap:operation soapAction=""/>
      <wsdl:input name="RestoreDBToFactorySettingRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RestoreDBToFactorySettingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressesByAccountId">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAddressesByAccountIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAddressesByAccountIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSafePayMethod">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddSafePayMethodRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddSafePayMethodResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSafePayMethod">
      <soap:operation soapAction=""/>
      <wsdl:input name="UpdateSafePayMethodRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateSafePayMethodResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountFields">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAccountFieldsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAccountFieldsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountrySearch">
      <soap:operation soapAction=""/>
      <wsdl:input name="CountrySearchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CountrySearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountConfiguration">
      <soap:operation soapAction=""/>
      <wsdl:output name="GetAccountConfigurationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressStatus">
      <soap:operation soapAction=""/>
      <wsdl:output name="AddressStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountryCreate">
      <soap:operation soapAction=""/>
      <wsdl:input name="CountryCreateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateMasterCreditMethod">
      <soap:operation soapAction=""/>
      <wsdl:input name="UpdateMasterCreditMethodRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateMasterCreditMethodResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountCreate">
      <soap:operation soapAction=""/>
      <wsdl:input name="AccountCreateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountCreateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountLogout">
      <soap:operation soapAction=""/>
      <wsdl:input name="AccountLogoutRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountLogoutResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMasterCreditMethod">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddMasterCreditMethodRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AccountPermanentDelete">
      <soap:operation soapAction=""/>
      <wsdl:input name="AccountPermanentDeleteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountPermanentDeleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction=""/>
      <wsdl:input name="ChangePasswordRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ChangePasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountLogin">
      <soap:operation soapAction=""/>
      <wsdl:input name="AccountLoginRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountLoginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction=""/>
      <wsdl:output name="GetCountriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaymentPreference">
      <soap:operation soapAction=""/>
      <wsdl:output name="DeletePaymentPreferenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByIdNew">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAccountByIdNewRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAccountByIdNewResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountUpdate">
      <soap:operation soapAction=""/>
      <wsdl:input name="AccountUpdateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountUpdateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAddresses">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddAddressesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AccountStatus">
      <soap:operation soapAction=""/>
      <wsdl:output name="AccountStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentMethodUpdate">
      <soap:operation soapAction=""/>
      <wsdl:input name="PaymentMethodUpdateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PaymentMethodUpdateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentPreferencesStatus">
      <soap:operation soapAction=""/>
      <wsdl:output name="PaymentPreferencesStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountServicePortService">
    <wsdl:port binding="tns:AccountServicePortSoap11" name="AccountServicePortSoap11">
      <soap:address location="http://localhost:8081/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>