order/src/main/java/AccountServiceClient/accountservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="com.advantage.online.store.accountservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="com.advantage.online.store.accountservice" targetNamespace="com.advantage.online.store.accountservice">
  <wsdl:types>
    <xs:schema xmlns:sx="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="com.advantage.online.store.accountservice">

    <xs:complexType name="AccountStatusResponse">
        <xs:sequence>
            <xs:element name="success" type="xs:boolean"/>
            <xs:element name="userId" type="xs:long"/>
            <xs:element name="reason" type="xs:string"/>
            <xs:element name="token" type="xs:string"/>
            <xs:element name="sessionId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CountryStatusResponse">
        <xs:sequence>
            <xs:element name="reason" type="xs:string"/>
            <xs:element name="success" type="xs:boolean"/>
            <xs:element name="countryId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PaymentPreferencesStatusResponse">
        <xs:sequence>
            <xs:element name="reason" type="xs:string"/>
            <xs:element name="success" type="xs:boolean"/>
            <xs:element name="id" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="account"/>
    <xs:complexType name="country"/>

    <xs:complexType name="AddressStatusResponse">
        <xs:sequence>
            <xs:element name="reason" type="xs:string"/>
            <xs:element name="success" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AccountConfigurationStatusResponse">
        <xs:sequence>
            <xs:element name="emailAddressInLogin" type="xs:boolean"/>
            <xs:element name="loginBlockingIntervalInSeconds" type="xs:long"/>
            <xs:element name="numberOfFailedLoginAttemptsBeforeBlocking" type="xs:int"/>
            <xs:element name="productInStockDefaultValue" type="xs:int"/>
            <xs:element name="userSecondWsdl" type="xs:boolean"/>
            <xs:element name="userLoginTimeout" type="xs:int"/>
            <xs:element name="allowUserConfiguration" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AccountDto">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="loginName" type="xs:string"/>
            <xs:element name="accountType" type="xs:int"/>
            <xs:element name="countryId" type="xs:long"/>
            <xs:element name="countryName" type="xs:string"/>
            <xs:element name="countryIsoName" type="xs:string"/>
            <xs:element name="stateProvince" type="xs:string"/>
            <xs:element name="cityName" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="zipcode" type="xs:string"/>
            <xs:element name="phoneNumber" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="defaultPaymentMethodId" type="xs:long"/>
            <xs:element name="allowOffersPromotion" type="xs:boolean"/>
            <xs:element name="internalUnsuccessfulLoginAttempts" type="xs:int"/>
            <xs:element name="internalUserBlockedFromLoginUntil" type="xs:long"/>
            <xs:element name="internalLastSuccesssulLogin" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AccountDtoNew">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="loginName" type="xs:string"/>
            <xs:element name="accountType" type="xs:int"/>
            <xs:element name="countryId" type="xs:long"/>
            <xs:element name="countryName" type="xs:string"/>
            <xs:element name="countryIsoName" type="xs:string"/>
            <xs:element name="stateProvince" type="xs:string"/>
            <xs:element name="cityName" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="zipcode" type="xs:string"/>
            <xs:element name="phoneNumber" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="defaultPaymentMethodId" type="xs:long"/>
            <xs:element name="allowOffersPromotion" type="xs:boolean"/>
            <xs:element name="internalUnsuccessfulLoginAttempts" type="xs:int"/>
            <xs:element name="internalUserBlockedFromLoginUntil" type="xs:long"/>
            <xs:element name="internalLastSuccesssulLogin" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DemoAppConfigurationResponse">
        <xs:sequence>
            <xs:element name="success" type="xs:boolean"/>
            <xs:element name="reason" type="xs:string"/>
            <xs:element name="code" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GetAllAccountsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="account" type="tns:AccountDto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AddressDto">
        <xs:sequence>
            <xs:element form="qualified" name="id" nillable="true" type="xs:long"/>
            <xs:element form="qualified" name="addressLine1" type="xs:string"/>
            <xs:element form="qualified" name="addressLine2" type="xs:string"/>
            <xs:element form="qualified" name="city" type="xs:string"/>
            <xs:element form="qualified" name="country" type="xs:string"/>
            <xs:element form="qualified" name="state" type="xs:string"/>
            <xs:element form="qualified" name="postalCode" type="xs:string"/>
            <xs:element form="qualified" name="accountId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UpdateAddressDto">
        <xs:sequence>
            <xs:element form="qualified" name="id" nillable="true" type="xs:long"/>
            <xs:element form="qualified" name="addressLine1" type="xs:string"/>
            <xs:element form="qualified" name="addressLine2" type="xs:string"/>
            <xs:element form="qualified" name="city" type="xs:string"/>
            <xs:element form="qualified" name="country" type="xs:string"/>
            <xs:element form="qualified" name="state" type="xs:string"/>
            <xs:element form="qualified" name="postalCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AddAddressDto">
        <xs:sequence>
            <xs:element form="qualified" name="addressLine1" type="xs:string"/>
            <xs:element form="qualified" name="addressLine2" type="xs:string"/>
            <xs:element form="qualified" name="city" type="xs:string"/>
            <xs:element form="qualified" name="country" type="xs:string"/>
            <xs:element form="qualified" name="state" type="xs:string"/>
            <xs:element form="qualified" name="postalCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GetAllAccountsRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="DemoAppConfigGetAllParametersRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="DemoAppConfigRestoreFactorySettingsRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCountriesRequest">
            <xs:complexType>
                <xs:sequence/>
            </xs:complexType>
    </xs:element>

    <xs:complexType name="CountryDto">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="isoName" type="xs:string"/>
            <xs:element name="phonePrefix" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GetCountriesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Country" type="tns:CountryDto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="DemoAppConfigParameter">
        <xs:sequence>
            <xs:element name="parameterName" type="xs:string"/>
            <xs:element name="attributeName" type="xs:string"/>
            <xs:element name="parameterValue" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="DemoAppConfigGetAllParametersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Parameter" type="tns:DemoAppConfigParameter"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CountrySearchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Country" type="tns:CountryDto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DemoAppConfigGetParametersByToolRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element form="qualified" name="toolName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAddressesByAccountIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAccountByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAccountByIdNewResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AccountResponse" type="tns:AccountDtoNew"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAccountByIdNewRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAccountByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AccountResponse" type="tns:AccountDto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAddressesByAccountIdResponse">
    <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ShippingAddress" type="tns:AccountDto"/>
        </xs:sequence>
    </xs:complexType>
    </xs:element>

    <xs:element name="AccountCreateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="loginName" type="xs:string"/>
                <xs:element name="countryId" type="xs:long"/>
                <xs:element name="stateProvince" type="xs:string"/>
                <xs:element name="cityName" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
                <xs:element name="zipcode" type="xs:string"/>
                <xs:element name="phoneNumber" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="accountType" type="xs:int"/>
                <xs:element name="allowOffersPromotion" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccountCreateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusMessage" type="tns:AccountStatusResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccountUpdateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusMessage" type="tns:AccountStatusResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ChangePasswordResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusMessage" type="tns:AccountStatusResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccountUpdateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="accountId" type="xs:long"/>
                <xs:element name="countryId" type="xs:long"/>
                <xs:element name="stateProvince" type="xs:string"/>
                <xs:element name="cityName" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
                <xs:element name="zipcode" type="xs:string"/>
                <xs:element name="phoneNumber" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="accountType" type="xs:int"/>
                <xs:element name="allowOffersPromotion" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CountryCreateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="isoName" type="xs:string"/>
                <xs:element name="phonePrefix" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CountrySearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="internationalPhonePrefix" type="xs:int"/>
                <xs:element name="startOfName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CountryCreateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusMessage" type="tns:CountryStatusResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccountLoginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="loginUser" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="loginPassword" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccountLoginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusMessage" type="tns:AccountStatusResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccountLogoutRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="loginUser" type="xs:string"/>
                <xs:element name="base64Token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccountLogoutResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusMessage" type="tns:AccountStatusResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PaymentMethodUpdateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountId" type="xs:long"/>
                <xs:element name="paymentMethod" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PaymentMethodUpdateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusMessage" type="tns:AccountStatusResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddAddressesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element form="qualified" maxOccurs="unbounded" name="address" type="tns:AddAddressDto"/>
                <xs:element name="accountId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddAddressesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusMessage" type="tns:AddressStatusResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddressUpdateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusMessage" type="tns:AddressStatusResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddressUpdateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="address" type="tns:UpdateAddressDto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ChangePasswordRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountId" type="xs:long"/>
                <xs:element name="oldPassword" type="xs:string"/>
                <xs:element name="newPassword" type="xs:string"/>
                <xs:element name="base64Token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddSafePayMethodRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountId" type="xs:long"/>
                <xs:element name="safePayUsername" type="xs:string"/>
                <xs:element name="safePayPassword" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddSafePayMethodResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusMessage" type="tns:PaymentPreferencesStatusResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddMasterCreditMethodRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cardNumber" type="xs:string"/>
                <xs:element name="expirationDate" type="xs:string"/>
                <xs:element name="cvvNumber" type="xs:string"/>
                <xs:element name="customerName" type="xs:string"/>
                <xs:element name="accountId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddMasterCreditMethodResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusMessage" type="tns:PaymentPreferencesStatusResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateSafePayMethodRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:long"/>
                <xs:element name="safePayUsername" type="xs:string"/>
                <xs:element name="safePayPassword" type="xs:string"/>
                <xs:element name="referenceId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateDemoAppConfigParameterRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element form="qualified" name="parameterName" type="xs:string"/>
                <xs:element form="qualified" name="attributeTools" type="xs:string"/>
                <xs:element form="qualified" name="parameterNewValue" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateDemoAppConfigParameterResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element form="qualified" name="StatusMessage">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element form="qualified" name="success" type="xs:boolean"/>
                            <xs:element form="qualified" name="reason" type="xs:string"/>
                            <xs:element form="qualified" name="code" type="xs:long"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="UpdateMasterCreditMethodRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:long"/>
                <xs:element name="cardNumber" type="xs:string"/>
                <xs:element name="expirationDate" type="xs:string"/>
                <xs:element name="cvvNumber" type="xs:string"/>
                <xs:element name="customerName" type="xs:string"/>
                <xs:element name="referenceId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="PaymentPreferencesDto">
        <xs:sequence>
            <xs:element name="paymentMethod" type="xs:int"/>
            <xs:element name="cardNumber" type="xs:string"/>
            <xs:element name="expirationDate" type="xs:string"/>
            <xs:element name="cvvNumber" type="xs:string"/>
            <xs:element name="safePayUsername" type="xs:string"/>
            <xs:element name="safePayPassword" type="xs:string"/>
            <xs:element name="customerName" type="xs:string"/>
            <xs:element name="preferenceId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GetAccountPaymentPreferencesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAccountPaymentPreferencesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PaymentPreferences" type="tns:PaymentPreferencesDto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeletePaymentPreferenceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="accountId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeletePaymentPreferenceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StatusMessage" type="tns:AccountStatusResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccountConfigurationStatusRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="DemoAppConfigGetParametersByToolResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Parameter" type="tns:DemoAppConfigParameter"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DemoAppConfigRestoreFactorySettingsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element form="qualified" name="StatusMessage">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element form="qualified" name="success" type="xs:boolean"/>
                            <xs:element form="qualified" name="reason" type="xs:string"/>
                            <xs:element form="qualified" name="code" type="xs:long"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountByIdResponse">
    <wsdl:part element="tns:GetAccountByIdResponse" name="GetAccountByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAccountsRequest">
    <wsdl:part element="tns:GetAllAccountsRequest" name="GetAllAccountsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddressUpdateResponse">
    <wsdl:part element="tns:AddressUpdateResponse" name="AddressUpdateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountConfigurationStatusRequest">
    <wsdl:part element="tns:AccountConfigurationStatusRequest" name="AccountConfigurationStatusRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddSafePayMethodRequest">
    <wsdl:part element="tns:AddSafePayMethodRequest" name="AddSafePayMethodRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CountrySearchRequest">
    <wsdl:part element="tns:CountrySearchRequest" name="CountrySearchRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddSafePayMethodResponse">
    <wsdl:part element="tns:AddSafePayMethodResponse" name="AddSafePayMethodResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DemoAppConfigRestoreFactorySettingsRequest">
    <wsdl:part element="tns:DemoAppConfigRestoreFactorySettingsRequest" name="DemoAppConfigRestoreFactorySettingsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateDemoAppConfigParameterResponse">
    <wsdl:part element="tns:UpdateDemoAppConfigParameterResponse" name="UpdateDemoAppConfigParameterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateMasterCreditMethodRequest">
    <wsdl:part element="tns:UpdateMasterCreditMethodRequest" name="UpdateMasterCreditMethodRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountCreateResponse">
    <wsdl:part element="tns:AccountCreateResponse" name="AccountCreateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountLogoutRequest">
    <wsdl:part element="tns:AccountLogoutRequest" name="AccountLogoutRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DemoAppConfigGetAllParametersRequest">
    <wsdl:part element="tns:DemoAppConfigGetAllParametersRequest" name="DemoAppConfigGetAllParametersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddMasterCreditMethodRequest">
    <wsdl:part element="tns:AddMasterCreditMethodRequest" name="AddMasterCreditMethodRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllAccountsResponse">
    <wsdl:part element="tns:GetAllAccountsResponse" name="GetAllAccountsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountCreateRequest">
    <wsdl:part element="tns:AccountCreateRequest" name="AccountCreateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddAddressesResponse">
    <wsdl:part element="tns:AddAddressesResponse" name="AddAddressesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountByIdNewResponse">
    <wsdl:part element="tns:GetAccountByIdNewResponse" name="GetAccountByIdNewResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangePasswordResponse">
    <wsdl:part element="tns:ChangePasswordResponse" name="ChangePasswordResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountUpdateRequest">
    <wsdl:part element="tns:AccountUpdateRequest" name="AccountUpdateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountLoginResponse">
    <wsdl:part element="tns:AccountLoginResponse" name="AccountLoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountUpdateResponse">
    <wsdl:part element="tns:AccountUpdateResponse" name="AccountUpdateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DemoAppConfigRestoreFactorySettingsResponse">
    <wsdl:part element="tns:DemoAppConfigRestoreFactorySettingsResponse" name="DemoAppConfigRestoreFactorySettingsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PaymentMethodUpdateResponse">
    <wsdl:part element="tns:PaymentMethodUpdateResponse" name="PaymentMethodUpdateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateSafePayMethodRequest">
    <wsdl:part element="tns:UpdateSafePayMethodRequest" name="UpdateSafePayMethodRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountByIdNewRequest">
    <wsdl:part element="tns:GetAccountByIdNewRequest" name="GetAccountByIdNewRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PaymentMethodUpdateRequest">
    <wsdl:part element="tns:PaymentMethodUpdateRequest" name="PaymentMethodUpdateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CountryCreateResponse">
    <wsdl:part element="tns:CountryCreateResponse" name="CountryCreateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountByIdRequest">
    <wsdl:part element="tns:GetAccountByIdRequest" name="GetAccountByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountPaymentPreferencesRequest">
    <wsdl:part element="tns:GetAccountPaymentPreferencesRequest" name="GetAccountPaymentPreferencesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAddressesByAccountIdResponse">
    <wsdl:part element="tns:GetAddressesByAccountIdResponse" name="GetAddressesByAccountIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddMasterCreditMethodResponse">
    <wsdl:part element="tns:AddMasterCreditMethodResponse" name="AddMasterCreditMethodResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddressUpdateRequest">
    <wsdl:part element="tns:AddressUpdateRequest" name="AddressUpdateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CountryCreateRequest">
    <wsdl:part element="tns:CountryCreateRequest" name="CountryCreateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DemoAppConfigGetParametersByToolRequest">
    <wsdl:part element="tns:DemoAppConfigGetParametersByToolRequest" name="DemoAppConfigGetParametersByToolRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangePasswordRequest">
    <wsdl:part element="tns:ChangePasswordRequest" name="ChangePasswordRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountPaymentPreferencesResponse">
    <wsdl:part element="tns:GetAccountPaymentPreferencesResponse" name="GetAccountPaymentPreferencesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountLoginRequest">
    <wsdl:part element="tns:AccountLoginRequest" name="AccountLoginRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountriesResponse">
    <wsdl:part element="tns:GetCountriesResponse" name="GetCountriesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CountrySearchResponse">
    <wsdl:part element="tns:CountrySearchResponse" name="CountrySearchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeletePaymentPreferenceResponse">
    <wsdl:part element="tns:DeletePaymentPreferenceResponse" name="DeletePaymentPreferenceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DemoAppConfigGetParametersByToolResponse">
    <wsdl:part element="tns:DemoAppConfigGetParametersByToolResponse" name="DemoAppConfigGetParametersByToolResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCountriesRequest">
    <wsdl:part element="tns:GetCountriesRequest" name="GetCountriesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeletePaymentPreferenceRequest">
    <wsdl:part element="tns:DeletePaymentPreferenceRequest" name="DeletePaymentPreferenceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddAddressesRequest">
    <wsdl:part element="tns:AddAddressesRequest" name="AddAddressesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateDemoAppConfigParameterRequest">
    <wsdl:part element="tns:UpdateDemoAppConfigParameterRequest" name="UpdateDemoAppConfigParameterRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DemoAppConfigGetAllParametersResponse">
    <wsdl:part element="tns:DemoAppConfigGetAllParametersResponse" name="DemoAppConfigGetAllParametersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountLogoutResponse">
    <wsdl:part element="tns:AccountLogoutResponse" name="AccountLogoutResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAddressesByAccountIdRequest">
    <wsdl:part element="tns:GetAddressesByAccountIdRequest" name="GetAddressesByAccountIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountServicePort">
    <wsdl:operation name="GetAccountById">
      <wsdl:input message="tns:GetAccountByIdRequest" name="GetAccountByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAccountByIdResponse" name="GetAccountByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <wsdl:input message="tns:GetAllAccountsRequest" name="GetAllAccountsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAllAccountsResponse" name="GetAllAccountsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressUpdate">
      <wsdl:input message="tns:AddressUpdateRequest" name="AddressUpdateRequest">
    </wsdl:input>
      <wsdl:output message="tns:AddressUpdateResponse" name="AddressUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountConfigurationStatus">
      <wsdl:input message="tns:AccountConfigurationStatusRequest" name="AccountConfigurationStatusRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddSafePayMethod">
      <wsdl:input message="tns:AddSafePayMethodRequest" name="AddSafePayMethodRequest">
    </wsdl:input>
      <wsdl:output message="tns:AddSafePayMethodResponse" name="AddSafePayMethodResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountrySearch">
      <wsdl:input message="tns:CountrySearchRequest" name="CountrySearchRequest">
    </wsdl:input>
      <wsdl:output message="tns:CountrySearchResponse" name="CountrySearchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemoAppConfigRestoreFactorySettings">
      <wsdl:input message="tns:DemoAppConfigRestoreFactorySettingsRequest" name="DemoAppConfigRestoreFactorySettingsRequest">
    </wsdl:input>
      <wsdl:output message="tns:DemoAppConfigRestoreFactorySettingsResponse" name="DemoAppConfigRestoreFactorySettingsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDemoAppConfigParameter">
      <wsdl:input message="tns:UpdateDemoAppConfigParameterRequest" name="UpdateDemoAppConfigParameterRequest">
    </wsdl:input>
      <wsdl:output message="tns:UpdateDemoAppConfigParameterResponse" name="UpdateDemoAppConfigParameterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMasterCreditMethod">
      <wsdl:input message="tns:UpdateMasterCreditMethodRequest" name="UpdateMasterCreditMethodRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AccountCreate">
      <wsdl:input message="tns:AccountCreateRequest" name="AccountCreateRequest">
    </wsdl:input>
      <wsdl:output message="tns:AccountCreateResponse" name="AccountCreateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountLogout">
      <wsdl:input message="tns:AccountLogoutRequest" name="AccountLogoutRequest">
    </wsdl:input>
      <wsdl:output message="tns:AccountLogoutResponse" name="AccountLogoutResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemoAppConfigGetAllParameters">
      <wsdl:input message="tns:DemoAppConfigGetAllParametersRequest" name="DemoAppConfigGetAllParametersRequest">
    </wsdl:input>
      <wsdl:output message="tns:DemoAppConfigGetAllParametersResponse" name="DemoAppConfigGetAllParametersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMasterCreditMethod">
      <wsdl:input message="tns:AddMasterCreditMethodRequest" name="AddMasterCreditMethodRequest">
    </wsdl:input>
      <wsdl:output message="tns:AddMasterCreditMethodResponse" name="AddMasterCreditMethodResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAddresses">
      <wsdl:input message="tns:AddAddressesRequest" name="AddAddressesRequest">
    </wsdl:input>
      <wsdl:output message="tns:AddAddressesResponse" name="AddAddressesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByIdNew">
      <wsdl:input message="tns:GetAccountByIdNewRequest" name="GetAccountByIdNewRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAccountByIdNewResponse" name="GetAccountByIdNewResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordRequest" name="ChangePasswordRequest">
    </wsdl:input>
      <wsdl:output message="tns:ChangePasswordResponse" name="ChangePasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountUpdate">
      <wsdl:input message="tns:AccountUpdateRequest" name="AccountUpdateRequest">
    </wsdl:input>
      <wsdl:output message="tns:AccountUpdateResponse" name="AccountUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountLogin">
      <wsdl:input message="tns:AccountLoginRequest" name="AccountLoginRequest">
    </wsdl:input>
      <wsdl:output message="tns:AccountLoginResponse" name="AccountLoginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentMethodUpdate">
      <wsdl:input message="tns:PaymentMethodUpdateRequest" name="PaymentMethodUpdateRequest">
    </wsdl:input>
      <wsdl:output message="tns:PaymentMethodUpdateResponse" name="PaymentMethodUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSafePayMethod">
      <wsdl:input message="tns:UpdateSafePayMethodRequest" name="UpdateSafePayMethodRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CountryCreate">
      <wsdl:input message="tns:CountryCreateRequest" name="CountryCreateRequest">
    </wsdl:input>
      <wsdl:output message="tns:CountryCreateResponse" name="CountryCreateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountPaymentPreferences">
      <wsdl:input message="tns:GetAccountPaymentPreferencesRequest" name="GetAccountPaymentPreferencesRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAccountPaymentPreferencesResponse" name="GetAccountPaymentPreferencesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressesByAccountId">
      <wsdl:input message="tns:GetAddressesByAccountIdRequest" name="GetAddressesByAccountIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAddressesByAccountIdResponse" name="GetAddressesByAccountIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemoAppConfigGetParametersByTool">
      <wsdl:input message="tns:DemoAppConfigGetParametersByToolRequest" name="DemoAppConfigGetParametersByToolRequest">
    </wsdl:input>
      <wsdl:output message="tns:DemoAppConfigGetParametersByToolResponse" name="DemoAppConfigGetParametersByToolResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input message="tns:GetCountriesRequest" name="GetCountriesRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetCountriesResponse" name="GetCountriesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaymentPreference">
      <wsdl:input message="tns:DeletePaymentPreferenceRequest" name="DeletePaymentPreferenceRequest">
    </wsdl:input>
      <wsdl:output message="tns:DeletePaymentPreferenceResponse" name="DeletePaymentPreferenceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServicePortSoap11" type="tns:AccountServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAccountById">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAccountByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAccountByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllAccountsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllAccountsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddressUpdate">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddressUpdateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddressUpdateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountConfigurationStatus">
      <soap:operation soapAction=""/>
      <wsdl:input name="AccountConfigurationStatusRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddSafePayMethod">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddSafePayMethodRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddSafePayMethodResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountrySearch">
      <soap:operation soapAction=""/>
      <wsdl:input name="CountrySearchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CountrySearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemoAppConfigRestoreFactorySettings">
      <soap:operation soapAction=""/>
      <wsdl:input name="DemoAppConfigRestoreFactorySettingsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DemoAppConfigRestoreFactorySettingsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDemoAppConfigParameter">
      <soap:operation soapAction=""/>
      <wsdl:input name="UpdateDemoAppConfigParameterRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateDemoAppConfigParameterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMasterCreditMethod">
      <soap:operation soapAction=""/>
      <wsdl:input name="UpdateMasterCreditMethodRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AccountCreate">
      <soap:operation soapAction=""/>
      <wsdl:input name="AccountCreateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountCreateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountLogout">
      <soap:operation soapAction=""/>
      <wsdl:input name="AccountLogoutRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountLogoutResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemoAppConfigGetAllParameters">
      <soap:operation soapAction=""/>
      <wsdl:input name="DemoAppConfigGetAllParametersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DemoAppConfigGetAllParametersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMasterCreditMethod">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddMasterCreditMethodRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddMasterCreditMethodResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAddresses">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddAddressesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddAddressesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByIdNew">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAccountByIdNewRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAccountByIdNewResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction=""/>
      <wsdl:input name="ChangePasswordRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ChangePasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountUpdate">
      <soap:operation soapAction=""/>
      <wsdl:input name="AccountUpdateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountUpdateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountLogin">
      <soap:operation soapAction=""/>
      <wsdl:input name="AccountLoginRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AccountLoginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentMethodUpdate">
      <soap:operation soapAction=""/>
      <wsdl:input name="PaymentMethodUpdateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PaymentMethodUpdateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSafePayMethod">
      <soap:operation soapAction=""/>
      <wsdl:input name="UpdateSafePayMethodRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CountryCreate">
      <soap:operation soapAction=""/>
      <wsdl:input name="CountryCreateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CountryCreateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountPaymentPreferences">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAccountPaymentPreferencesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAccountPaymentPreferencesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressesByAccountId">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAddressesByAccountIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAddressesByAccountIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemoAppConfigGetParametersByTool">
      <soap:operation soapAction=""/>
      <wsdl:input name="DemoAppConfigGetParametersByToolRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DemoAppConfigGetParametersByToolResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetCountriesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCountriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaymentPreference">
      <soap:operation soapAction=""/>
      <wsdl:input name="DeletePaymentPreferenceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeletePaymentPreferenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountServicePortService">
    <wsdl:port binding="tns:AccountServicePortSoap11" name="AccountServicePortSoap11">
      <soap:address location="http://localhost:8080/accountservice/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>